.card
  .card-body
    %h5.card-title= host.display_name
  %ul.list-group.list-group-flush
    - if host.ipv4
      %li.list-group-item= host.ipv4.address
    - if host.mac
      %li.list-group-item= "#{host.mac.address} (#{host.mac.vendor})"
    - if host.hostname.present?
      %li.list-group-item= host.hostname