.panel.-fullscreen
  %h5
    Hosts
  %br

    .host-grid.w-auto
      - @host_lines.each_with_index do |host_line, line_index|
        - host = host_line[:host]
        - mac = host_line[:mac]
        - ip = host_line[:ip]
        - hostname = host_line[:hostname]

        - divider = (host != @host_lines[line_index-1][:host])
        .host-grid--item{ class: ( "-line" if divider && line_index != 0) }
          - if host.is_a?(Host) && divider
            .grid-node
              = host.name.presence || '-'
              = link_to 'edit', edit_host_path(host), 'up-modal': '.panel'

        - divider = (mac != @host_lines[line_index-1][:mac])
        .host-grid--item{ class: ( "-line" if divider && line_index != 0) }
          - if mac.is_a?(Mac) && divider
            .grid-node
              = mac.address_string_with_vendor
              = last_seen_indicator(mac.last_seen_by_arp)

        - divider = (ip != @host_lines[line_index-1][:ip])
        .host-grid--item{ class: ( "-line" if  divider && line_index != 0) }
          - if ip && divider
            .grid-node
              = ip.address
              = last_seen_indicator(ip.last_seen_by_ping)
        - divider = (hostname != @host_lines[line_index-1][:hostname])
        .host-grid--item{ class: ( "-line" if divider && line_index != 0) }
          - if hostname
            .grid-node= hostname.name
