!!!
%html
  %head
    %title NetworkDashboard

    %meta(name="viewport" content="width=device-width,initial-scale=1")
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'


  %body
    .layout
      .layout--header-title
        Network Dashboard
      .layout--header-menu
      .layout--header-menu-toggle
        .layout--header-menu-toggle-button(layout--toggle-menu)
          = icon :open_menu
      .layout--menu
        = render 'layouts/menu'
      .layout--content
        = yield
